<label class="labelColor"> ¿Cuál de las siguientes opciones describe la cita perfecta? </label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.citas" value="4" checked>
           Una cena a la luz de las velas
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.citas" value="2">
            Un parque de diversiones/temático
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.citas" value="5">
            Pintar en el parque
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.citas" value="1">
           Un concierto de rock 
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.citas" value="3">
            Ir al cine
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="cuestionario.musica" class="btn btn-block btn-info">
    Siguiente pregunta <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>