<label class="labelColor"> ¿Con quién preferirías pasar un tiempo? </label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.pasarias" value="5" checked>
          Alguien inteligente
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.pasarias" value="2">
            Alguien atractivo
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.pasarias" value="1">
            Alguien a quien le gusten las fiestas
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.pasarias" value="3">
          Alguien que siempre es divertido
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.pasarias" value="4">
             Alguien muy sentimental
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
     <button type="submit" class="btn btn-danger">Finalizar Test</button>
</div>
</div>