<label class="labelColor"> ¿Qué tipo de películas prefieres?  </label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.peliculas" value="2" checked>
           Comedia
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.peliculas" value="1">
           Terror 
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.peliculas" value="3">
            Musicales
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.peliculas" value="4">
           Románticas  
        </label>
    </div>

    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.peliculas" value="5">
           Documentales 
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="cuestionario.ocupaciones" class="btn btn-block btn-info">
    Siguiente pregunta <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>